body,html,div,ul,li,a,img,ol,em,h2,h3,h4,p,table,tr,td{
    padding:0px;
    margin:0px;
    list-style-type: none;
    text-decoration: none;
    color:black;
    
}
span{
	display:inline-block;
}
body{
    background:#f3f3f3;
}
.header{
    height:30px;
    background:#f5f5f5;
}
.header_top,.nav,.main,.footer_down,.footer_href,.detail{
    width:944px;
    margin:0 auto;
}
.header_top{
    height:110px;
}
.header_top a{
    font-size:11px;
    color:#666666;
}
.header_top a:hover{
    color:red;
}
.li_left{
    float:left;
}
.li_left>li{
    float:left;
    padding-right:10px;
}
.li_right{
    float:right;
}
.li_right>li{
    float:left;
    padding-right:10px;
}
.header_nav{
    width:100%;
    height:80px;
    background:white;
}
.nav{
    height:80px;
    position: relative;
}
.nav>img{
    position: absolute;
    top:0px;
    left:0px;
}
.the_nav{
    float:right;
    padding-top:27px;
}
.the_nav>li{
    float:left;
    margin-right: 7px;
}
.nav .the_nav>li>a{
    display:block;
    padding:5px 10px;
    font-size: 16px;
}
.nav .the_nav>li>a:hover{
    background:#cccccc;
}
.content,.main{
    height:490px;
}
.main{
    background:white;
    margin-top:20px;
    padding:10px 10px 0px 10px;
    width:924px;
    position: relative;
}
.main .shop_main{
    height:190px;
    width:525px;
    position: absolute;
    top:300px;
    left: 257px;
    background: white;
     z-index: 100;
     padding: 20px;
     border:7px solid #f5f5f5;
     display: none;
     border-radius: 5px;
}
.weight>span,.quantity>span{
	font-size:12px;
	width:60px;
	line-height:28px;
	display: inline-block;
}
.weight,.quantity,.verify{
    width:340px;
    float: left;
}
.weight{
    height:28px;
    margin-bottom: 30px;
}
.quantity{
   height:28px;
   margin-bottom: 20px;
}
.num{
	border:1px solid gainsbo;
}
.num input{
	width: 48px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;
    text-align: center;
    border:1px solid #666;
}
.quantity button{
	width:28px;
	height:28px;
	font-weight: bold;
}
.quantity .leavings,.num{
	display: inline-block;
}
.verify{
    height:37px;
}
.verify button{
    width:102px;
    height:37px;
}
.verify .sure{
    color:white;
    background: orangered;
    margin-right:6px;
    margin-left: 60px;
}
.verify .cancel{
    color:#ccc;
    background:#F5f5f5;
    border:1px solid #ccc ;
}
.shop_img{
    height:160px;
    width:160px;
    padding:20px  0px 0px 20px;
    float: right;
    position:absolute;
    top:20px;
    right:20px;
}
.shop_img>span{
	position:absolute;
	top: -10px;
    right:-10px;
    width:21px;
	text-align: center;
	cursor:move;
}
.shop_img img{
    height:160px;
    width:160px;
    border:1px solid gray;
}
.content_nav{
    height:40px;
    width:100%;
    border-bottom:1px dashed #f5f5f5;
}
.content_nav>a{
    color:gray;
    font-size: 15px;
    line-height:40px;
    margin-right:5px;
}
.content_nav span{
    font-size: 12px;
    float:right;
    line-height:40px;
    color:gray;
    margin-right:10px;
}
.banner{
    height:442px;
    width:100%;
}
.banner .images{
    height:422px;
    width:360px;
    padding:10px 0px;
    float: left;
}
.images .bigimg{
    height:360px;
    width:360px;
    background:#f5f5f5;
    margin-bottom: 10px;
    overflow: hidden;
}
 .mySwiper{
            height:360px;
            width:360x;
 }
.swiper-wrapper img{
            height:360;
            width:360px;
 }
.smallimg{
    height:50px;
    width:360px;
}
.smallimg>li{
    float: left;
    width:64px;
    height:50px;
    margin-right:5px;
    text-align: center;
}
.smallimg img{
    height:45px;
    width:45px;
}
.massage{
    height:100%;
    width:540px;
    float:right;
}
.massage .name{
    height:46px;
    line-height:45px;
} 
.massage .serve{
    height:62px;
}
.serve>li{
    float: left;
    line-height:62px;
    margin-right:20px;
}
.serve a{
    background:#ffa100;
    padding:5px;
    border-radius: 3px;
    color:white;
}
.things{
    list-style-type:disc;
    height:80px;
    width:540px;
    border:1px dashed gray;
}
.things>li{
    height:26px;
    color:gray;
    list-style-type:disc;
    font-size: 14px;
    line-height:26px;
    margin-left: 20px;
}
.infobar{
    height:24px;
    margin-top:15px;
}
.infobar span{
    float: right;
    color:red;
    font-weight: bold;
}
.infobar span>e{
    color:black;
}
.buysubmit{
    height:66px;
    background:#e61414;
    margin-top:15px;
    position: relative;
    margin-bottom:30px;
}
.buysubmit span{
    color:white;
    font-size:30px;
    line-height:66px;
    margin-right:25px;
}
.buysubmit del{
    color:white;
}
.buysubmit .submit{
    width:128px;
    height:38px;
    color:red;
    background:#fee97d;
    border-radius:8px;
    float:right;
    margin-top:15px;
}
.buysubmit img{
    position: absolute;
    right:-32px;
}
.massage .foot>span{
    font-size: 15px;
    line-height:15px;
    display: inline-block;
}
.massage .foot>img{
    float:right;
}
.detail{
	min-height:2000px;
	margin-top:26px;
	position:relative;
}
.store{
    height:808px;
    width:212px;
    position:absolute;
    float: left;
}
.store .store_tit{
	height:185px;
	border:1px solid #CCCCCC;
	background: white;
}
.store_tit>h3{
	font-weight: 400;
	font-size:14px;
	padding:0px 15px;
	height:50px;
	line-height:50px;
	border-buttom:1px solid gray;
	background:#f5f5f5;
}
.store_tit .con{
	height:132px;
	width:182px;
	padding:6px 15px 10px;
	overflow: hidden;
}
.con>h4{
	padding:10px 16px;
	font-size:16px;
	font-weight: 400;
}
.con table{
	width:170px;
	text-align: center;
	font-size:14px;
	height:72px;
	border-spacing: 0;
}
.con th{
	font-weight: 400;
	color:#4C4C4C;
}
.con>table td{
	color:red;
	font-weight: 400;
}
.undertaking{
	height:75px;
	margin-top:10px;
	border:1px solid #ccc;
	width:210px;
	background: white;
}
.undertaking>span{
	display: block;
	width:180px;
	height:51px;
	border-buttom:1px solid gray;
	background:#f5f5f5;
	padding:0px 15px;
	line-height:51px;
}
.store .like{
    height:530px;
    margin:10px 0px;
}
.store .like>span{
	height:50px;
	padding:0px 15px;
	line-height:50px;
	border:1px solid #ccc;
	display: block;
	background:white;
}
.store .advice_img{
	height:444px;
	background: white;
	margin-top:10px;
             overflow: hidden;
}
.offer{
             height:210px;
             width:210px;
             position:relative;
}
.offer:hover  .offer_price{
        display: block;
}
.offer_price{
            position:absolute;
            bottom:0px;
            height:50px;
            background: black;
            opacity: 0.6;
            line-height: 25px;
            display: none;
}
.offer_price>p{
    font-size: 12px;
    color:white;
    width:210px;
    text-align: center;
    
}
.advice_img img{
    height:210px;
    width:210px;
}
.ware{
	min-height:2000px;
	width:714px;
	float: right;
	background:white;
	border:1px solid #ccc;
}
.ware_head{
	height:50px;
	margin-bottom: 20px;
	border-bottom:1px solid #ccc;
}
.ware_head  span{
	min-width:116px;
	display: inline-block;
	height:50px;
	line-height:50px;
	text-align: center;
}
.ware_head>.span1{
	color:white;
	font-weight: bold;
	background: #51b2d6;
}
.span2>i{
	color:red;
	text-decoration: none;
}
.ware_main{
	width:690px;
	min-height:500px;
	margin-left: 10px;
}
.ware_main>img{
	width:690px;
}
.footer{
    height:390px;
    width:100%;
    background:#f5f5f5;
    float: left;
    margin-top:50px;
}
.footer_href{
	
    height:238px;
    border-bottom: 1px solid white;

}
.footer_href h4{
    line-height:40px;
    font-size:12px;
    color:gray;
    margin-bottom: 12px;
    border-bottom: 1px solid white;
}

.logo,.about,.buyer,.soler,.speak,.service,.phone{
    height:190px;
}
.about,.buyer,.soler,.speak,.service,.phone{
    width:120px;
    float: left;
}
.about a,.buyer a,.soler a,.speak a,.service a,.phone a{
    font-size: 11px;
    color:gray;
    line-height:23px;
}
.logo{
    width:180px;
    float:left;
    font-size:22px;
    color:gray;
    line-height:40px;
    font-weight: bold;
}
.phone{
    width:150px;
}
.phone img{
    margin-bottom: 14px;
}
.footer_down,.abli{
    height:150px;
}
.abli{
    width:180px;
    float:left;
}
.parter{
    float:left;
    width:752px;
    min-height:70px;
}
.parter>li{
    display:block;
    height:16px;
    float: left;
    padding:0px 9px;
    border-right:1px solid gray;
    line-height:11px;
    margin-top:16px;
}
.parter a{
    font-size:11px;
    color:gray;
}
 .footer_down  span{
     padding-left: 9px;
    font-size:11px;
    color:gray;
    line-height: 26px;
}
