body,html,div,ul,li,a,img,ol,em,h2,h3,h4,p,table,tr,td{
    padding:0px;
    margin:0px;
    list-style-type: none;
    text-decoration: none;
    color:black;
}
body{
    background:#f3f3f3;
}
.header{
    height:30px;
    background:#f5f5f5;
}
.header_top,.nav,.footer_href,.footer_down,.banner_cont,.brand,.content,.control_nav,.article{
    width:1190px;
    margin:0 auto;
}
.header_top{
    height:110px;
}
.header_top a{
    font-size:11px;
    color:#666666;
}
.header_top a:hover{
    color:red;
}
.li_left{
    float:left;
}
.li_left>li{
    float:left;
    padding-right:10px;
}
.li_right{
    float:right;
}
.li_right>li{
    float:left;
    padding-right:10px;
}
.my_taobao{
	position:relative;
}
.my_taobao_small{
	position:absolute;
	top:21px;
	display:none;
	background:white;
}
.header_nav{
    width:100%;
    height:80px;
}
.nav{
    height:80px;
}
.the_nav{
    float:right;
    padding-top:27px;
}
.the_nav>li{
    float:left;
    margin-right: 7px;
}
.nav .the_nav>li>a{
    display:block;
    padding:5px 10px;
    font-size: 16px;
}
.nav .the_nav>li>a:hover{
    background:#cccccc;
}
.banner{
    height:435px;
    background:pink;
}
.banner_cont{
    height:435px;
    position: relative;
}
.banner_list{
    height:515px;
    width:150px;
    background:#f6f2f4;
    position: absolute;
    top:-80px;
}
.menu_one,.menu_two{
    line-height:36px;
    height:220px;
}
.menu_one{
    padding-left:17px;
    width:58px;
    float:left;
}
.menu_two{
    padding-left:12px;
    width:63px;
    float:right;
}
.menu_one a,.menu_two a{
    padding:5px;
    font-size: 11px;
}
.menu_one a:hover,.menu_two a:hover{
    background:red;
    color:white;
}
.news{
    width:140px;
    border-top:1px dashed #cccccc;
    border-bottom:1px dashed #cccccc;
    float: left;
    margin:11px 0px 10px 10px;
    padding:19px 0px;
}
.news>li{
    float: left;
    font-size: 12px;
    padding-left:7px;
}
.news>li>a{
    color:green;
    padding:5px;
}
.news>li>a:hover{
    color:white;
    background:green;
}
.list{
    margin-left:20px;
}
.list>tr>td{
  height:26px;
}
.list a{
    line-height:24px;
    font-size: 11px;
}

/* 轮播图 */

.swiper{
    height:310px;
    width:785px;
    background:purple;
    position: absolute;
    left:155px;
}
.all{ width:785px; height: 310px; position: relative; }
.screen{
	width:785px;
	height:310px;
	overflow:hidden; 
	position:relative;
}
.screen li{ 
    width:785px;
    height:310px; 
    overflow:hidden; 
    float:left;
}
.screen ul{
     position:absolute;
      left:0; 
      top:0px; 
      width:3180px;}
.all ol{
     position:absolute; 
     right:10px; 
     bottom:10px;
     line-height:22px; 
      text-align:center;}
.all ol li{
    float: left; 
    width: 22px; 
    height:22px;
    background: #fff; 
    margin-left: 5px;
    cursor: pointer;
    font-size: 11px;
    font-family: Verdana;
    line-height: 22px; 
    border-radius: 15px;
}
.all ol li.current{ 
    background:red;
}


.pic{
    height:430px;
    width:245px;
    float:right;
    margin-top:5px;
}
.banner_img{
    height:120px;
    width:785px;
    position: absolute;
    bottom:0px;
    left:155px;
}
.banner_img>img{
    width:261px;
    height:100%;
    float:left;
}
.brand{
    height:460px;
    /* background:gray; */
    margin-top:15px;
}
.brand_title{
    height:41px;
    position: relative;
    padding-top: 13px;
}
.brand_title>h3{
    display: inline-block;
    width:56px;
    font-size: 16px;
    line-height:27px;
}
.brand_title>h4{
    width:156px;
    display: inline-block;
}
.brand_title>h4>a{
    font-size: 11px;
    padding:4px 10px;
    background:#4c4c4c;
    color:white;
    line-height:21px;
    vertical-align:middle;
    display:inline-block;
}
.brand_title>p{
    display:inline-block;
    position: absolute;
    right:100px;
    min-width:524px;
}
.brand_title>p>a{
    color:gray;
    font-size: 12px;
    line-height:20px;
    vertical-align:middle;
    margin-right:11px;
}
.brand_title>p>a:hover{
    color:red;
}
.brand_title>span{
    position: absolute;
    right:0px;
    height:20px;
    background:red;
    color:white;
    font-size: 12px;
    padding:4px 10px;
}
.brand_news{
    height:188px;
    width:100%;
}
.brand_news1,.brand_news2,.brand_news3{
    height:188px;
    width:387px;
    float:left;
    margin-left:5px;
    border:2px solid white;

}
.brand_news img{
    width:387px;
    height:170px;
}
.brand_news p{
    text-align: right;
    font-size: 11px;
    height:11px;
    line-height: 11px;
    color:red;
}
.brand_news span{
    color:black;
}
.brand_news1:hover,.brand_news2:hover,.brand_news3:hover{
    border-color:red;
}
.name{
    height:215px;
    width:1185px;
    margin-left:5px;
}
.brand_name_list img{
    width:90px;
    height:70px;
}
.brand_name_list>td{
    position: relative;
}
.brand_name_list .under{
    height:70px;
    width:90px;
    display:none; 
    position: absolute;
    left:0px;
    top:0px;
    background:black;
    opacity: 0.8;
    color:white;
}
.brand_name_list td:hover .under{
    display: block;
}
.under h2{
    height:35px;
    font-size:14px;
    color:white;
    line-height:35px;
    text-align: center;
}
.under span{
    display: inline-block;
    height:14px;
    width:14px;
    background:red;
    border-radius: 50%;
    font-size:14px;
    line-height: 14px;
    text-align: center;
    margin:0px 38px;
}
.content{
   height:40px;
    /* background:blanchedalmond; */
}
.content_nav{
    height:40px;
}
.content_nav>span{
    display: inline-block;
    font-weight: bold;
    line-height:26px;
    margin-top:5px;
    float:left;
    padding:0px 5px;
    border-right:1px solid gray;
}
.content_nav>ul{
    min-width:880px;
    float:left;
}
.content_nav>ul>li{
    float:left;
    margin-left: 19px;
    line-height:40px;
}
.content_nav>ul>li>a{
    font-size: 12px;
    color:gray;
    padding:5px;
    /* background:red; */
}
.content_nav>ul>li>a:hover{
    background:red;
    color:white;
}
.content_nav .only>a{
    color:green;
}
.content_nav .only>a:hover{
    background:green;
}
.control{
    height:40px;
    width:100%;
    background:#f5f5f5;
}
.control_nav{
    height:40px;
    width:1180px;
    position: relative;

}
.control_nav>span{
    font-size:12px;
    color:red;
    line-height:40px;
    padding:0px 5px;
    position: absolute;
    left:0px;
}
.control_nav>ul{
    height:40px;
    min-width:230px;
    position: absolute;
    left:350px;
    display: inline-block;
}
.control_nav li{
    float:left;
    line-height: 40px;
    margin-right:20px;
}
.control_nav a{
    font-size:11px;
    color:gray;
}
.control_nav a:hover{
    color:red;
}
.control_nav .search{
    float:right;
    padding-top:4px;
}
.search input{
    height:23px;
    width:190px;
}
.search .up{
    height:29px;
    width:29px;
    padding:3px;
}
.search .down{
    background:red;
    color:white;
    padding:6px 12px;
    font-size:11px;
}
.article{
    min-height:1200px;

}
.main{
    height:100%;
    width:100%;
}
.main>li{
    height:406px;
    float:left;
    width:25%;
    margin-top:20px;
}
.item{
    border:2px solid white;
}
.item:hover{
    border-color:red;
}
.main .things{
    width:290px;
    height:290px;
}
.main h2{
    font-size:13px;
    text-align:left;
    font-weight:400;
    padding-left:10px;
}
.main h3{
    font-size:11px;
    color:red;
    padding-left:10px;
    overflow: hidden;
    font-weight:400;
    height:25px;
    line-height: 25px;
}
.main h3>span{
    color:gray;
    font-weight:400;
    height:25px;
    line-height: 25px;
}
.buy{
    background:url(../images/buy_07.png) no-repeat;
    background-size:288px 50px;
    height:50px;
    width:288px;
}
.buy em,.buy>a>span,.sole_num,.item_price>del,.item_price>span{
    color:white;
}
.buy em{
    display: inline-block;
    font-size:18px;
    float: left;
    width:25px;
    height:40px;
    margin-top:10px;
    line-height:40px;
}
.buy>a>span{
    height:50px;
    min-width:30px;
    font-size: 30px;
    line-height:50px;
    float: left;
}
.buy .item_price{
    height:50px;
    min-width:110px;
    float:left;
    bottom:0px;
}
.buy .item_price>del{
    font-size: 9px;
}
.buy .item_price>span{
    min-width:48px;
    height:17px;
    background:orange;
    border-radius: 7px 5px;
    font-size: 11px;
}
.sole_num{
    font-size: 11px;
    background:#cf1212;
    height:13px;
    min-width: 80px;
    padding:4px 5px; 
    line-height:13px;
    border-radius: 2px;
}
._target{
    height:50px;
    width:420px;
    margin:50px 0px 50px 395px;
    float: left;

}
._target>li{
    float:left;
    padding:16px;
    margin-left:9px;
    background:white;
}
._target .next{
    padding:16px 25px;
}
._target .last{
    background:red;
    color:white;
    width:95px;
}
.footer{
    height:390px;
    width:100%;
    background:#f5f5f5;
    float: left;
}
.footer_href{
    height:238px;
    border-bottom: 1px solid white;

}
.footer_href h4{
    line-height:40px;
    font-size:12px;
    color:gray;
    margin-bottom: 12px;
    border-bottom: 1px solid white;
}

.logo,.about,.buyer,.soler,.speak,.service,.phone{
    height:190px;
}
.about,.buyer,.soler,.speak,.service,.phone{
    width:170px;
    float: left;
}
.about a,.buyer a,.soler a,.speak a,.service a,.phone a{
    font-size: 11px;
    color:gray;
    line-height:23px;
}
.logo{
    width:180px;
    float:left;
    font-size:22px;
    color:gray;
    line-height:40px;
    font-weight: bold;
}
.phone{
    width:150px;
}
.phone img{
    margin-bottom: 14px;
}
.footer_down,.abli{
    height:150px;
}
.abli{
    width:180px;
    float:left;
}
.parter{
    float:left;
    width:1005px;
    height:70px;
}
.parter>li{
    display:block;
    height:16px;
    float: left;
    padding:0px 9px;
    border-right:1px solid gray;
    line-height:11px;
    margin-top:16px;
}
.parter a{
    font-size:11px;
    color:gray;
}
 .footer_down  span{
     padding-left: 9px;
    font-size:11px;
    color:gray;
    line-height: 26px;
}